*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

.menu{
    background-color: #0F1227;
    height: 65px;
    text-align: center;
    padding-top: 20px;
    color: white;
    font-size: 25px;
}
.container{
    max-width: 1000px;
    background-color: #2D2F3C;
    margin: auto;
    margin-top: 150px;
    box-shadow: 0 0 20px 4px black;
    border: 3px solid #0F1227;
    position: relative;
}
.menu__items{
    text-align: center;
    background-color: #4e4e59;
    width: 300px;
    margin-top: 20px;
    margin-right: 20px;
    color: white;
    border: 3px solid #0F1227;
    box-shadow: 5px 5px 20px 0px black;
    position: fixed;
    right: 240px;
}
.menu__nav, .menu__list{
    max-width: 260px;
    margin-bottom: 20px;
    border-bottom: 2px solid rgb(179, 174, 174);
    margin: auto;
    margin: 20px;
    font-size: 20px;
    padding-bottom: 8px;
}
.menu__list__anime a{
    text-decoration: none;
    color: white;
}
.menu__list__anime li{
    margin-bottom: 8px;
    font-size: 18px;
}
.container h1{
    text-align: center;
    color: white;
    font-size: 25px;
    margin-top: 10px;
}
.container__list{
    max-width: 650px;
    margin-top: 40px;
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.list__card{
    max-width: 180px;
    text-align: right;
    color: white;
    line-height: 30px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
    background-color: rgb(53, 81, 106);
    box-shadow: 5px 5px 20px 0px black;
    margin-bottom: 50px;
}
.list__card img{
    max-width: 180px;
    max-height: 250px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
}
.list__card h2{
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    color: white;
}
.list__card p{
    margin-right: 10px;
}
.card__info{
    width: 32px;
    height: 32px;
    margin-right: 132px;
}
.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    top: 0px;
    left: 0px;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 1s ease 0s;
}
.popup:target{
    opacity: 1;
    visibility: visible;
}
.popup:target .popup__content{
    transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
    opacity: 1;

}
.popup__body{
    display: flex;
    top: 100px;
    left: 30px;
    padding: 30px 10px;
}
.popup__content{
    background-color: rgb(47, 44, 44);
    color: rgb(251, 248, 248);
    max-width: 300px;
    padding: 20px;
    text-align: center;
    position: relative;
    border: 2px solid rgb(46, 49, 68);
    transition: all 1s ease 0s;
    opacity: 0;
    transform: perspective(600px) translate(0px, -100%) rotateY(45deg);
}
.popup__close{
    position: absolute;
    right: 10px;
    top: 10px;
    color: red;
}
.popup__title{
    font-size: 25px;
    margin-bottom: 20px;
}
.popup__text{
    font-size: 16px;
    line-height: normal;
}
.popup__area{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.menu__list__anime a{
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
.menu__list__anime a:hover{
    background-size: 100% 2px;
}